<!-- Establishing index.html as a derived template from base.html-->
{% extends "base.html" %}

<!-- Defining the block of code, named 'content', that will be inserted into the base.html template where
referenced -->
{% block content %}
    <!-- Control statement that displays a default heading if no user is passed into the template -->
    {% if user %}
    <h1>Hello, {{user.username}}!</h1>
    {% else %}
    <h1>Hello!</h1>
    {% endif %}
    <!-- Displaying mock students' progress -->
    {% for student in students %}
    <div><p><b>{{student.pupil.firstName}} {{student.pupil.surname}}'s progress:</b></p>
    <p>Working At year: {{student.progress.workingAt}}</p>
    <p>Number of quizzes completed: {{student.progress.quizCount}}</p></div>
    {% endfor %}
{% endblock %}
