<!-- Establishing topic_test.html as a derived template from base.html -->
{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <!-- Using the HTML <form> element as a container for the web form -->
    <form action="" method="post" novalidate>
        <!-- The statement below generates a hidden field, used to protect the form against CSRF attacks -->
        {{ form.hidden_tag() }}
        <p>
            <!-- Specifying the position of the field and field label -->
            {{ form.question1.label }}<br>
            {{ form.question1(size=32) }}
        </p>
        <p>
            <!-- Specifying the position of the field and field label -->
            {{ form.question2.label }}<br>
            {{ form.question2(size=32) }}
        </p>
        <p>
            <!-- Specifying the position of the field and field label -->
            {{ form.question3.label }}<br>
            {{ form.question3(size=32) }}
        </p>
        <p>
            <!-- Specifying the position of the field and field label -->
            {{ form.question4.label }}<br>
            {{ form.question4(size=32) }}
        </p>
        <p>
            <!-- Specifying the position of the field and field label -->
            {{ form.question5.label }}<br>
            {{ form.question5(size=32) }}
        </p>
        <p>
            <!-- Specifying the position of the field and field label -->
            {{ form.question6.label }}<br>
            {{ form.question6(size=32) }}
        </p>
        <p>
            <!-- Specifying the position of the field and field label -->
            {{ form.question7.label }}<br>
            {{ form.question7(size=32) }}
        </p>
        <p>
            <!-- Specifying the position of the field and field label -->
            {{ form.question8.label }}<br>
            {{ form.question8(size=32) }}
        </p>
        <p>
            <!-- Specifying the position of the field and field label -->
            {{ form.question9.label }}<br>
            {{ form.question9(size=32) }}
        </p>
        <p>
            <!-- Specifying the position of the field and field label -->
            {{ form.question10.label }}<br>
            {{ form.question10(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
